
LOP Position Manager/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LOP Position Manager/obj/Debug/DesignTimeResolveAssemblyReferences.cache
LOP Position Manager/obj/Debug/LOP Position Manager.csproj.AssemblyReference.cache
*.cache
LOP Position Manager/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
LOP Position Manager/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LOP Position Manager/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
.vs/LOP Position Manager/v16/.suo
LOP Position Manager/bin/Release/LOP Position Manager.exe
LOP Position Manager/bin/Release/LOP Position Manager.exe.config
LOP Position Manager/bin/x64/Release/LOP Position Manager.exe
LOP Position Manager/bin/x64/Release/LOP Position Manager.exe.config
LOP Position Manager/obj/Release/LOP Position Manager.csproj.FileListAbsolute.txt
LOP Position Manager/obj/Release/LOP Position Manager.exe
LOP Position Manager/obj/Release/LOP_Position_Manager.Main.resources
LOP Position Manager/obj/Release/LOP_Position_Manager.Properties.Resources.resources
LOP Position Manager/obj/x64/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LOP Position Manager/obj/x64/Release/LOP Position Manager.csproj.FileListAbsolute.txt
LOP Position Manager/obj/x64/Release/LOP Position Manager.exe
LOP Position Manager/obj/x64/Release/LOP_Position_Manager.Main.resources
LOP Position Manager/obj/x64/Release/LOP_Position_Manager.Properties.Resources.resources
LOP Position Manager/obj/x64/Release/TempPE/Properties.Resources.Designer.cs.dll
