
LOP Position Manager/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LOP Position Manager/obj/Debug/DesignTimeResolveAssemblyReferences.cache
LOP Position Manager/obj/Debug/LOP Position Manager.csproj.AssemblyReference.cache
*.cache
LOP Position Manager/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
LOP Position Manager/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LOP Position Manager/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
.vs/LOP Position Manager/v16/.suo
